################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/MakkajaiSalesTax/.vs/MakkajaiSalesTax/v16
/MakkajaiSalesTax/MakkajaiSalesTax/obj
/MakkajaiSalesTax/MakkajaiSalesTax/bin/Debug/netcoreapp3.1
